.container {
	width: 80%;
	max-width: 1920px;
	margin: 0 auto;
}
.sortAndProduct {
	display: flex;
}

.products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(440px, 0fr));
	grid-gap: 20px;
	width: 100%;
}

@media (max-width: 480px) {
  .container{
    width: 90%;
    margin: 0 auto;
  }
	.sortAndProduct {
		display: block;
	}
	.products {
		margin: 40px 0em 0em 0em;
	}
}
