@font-face {
	font-family: 'Tactic Sans';
	src: url('/fonts/TacticSans.woff2') format('woff2'); /* Путь к файлу WOFF2 */
}

.home {
	font-family: 'Tactic Sans', sans-serif;
	font-style: normal;
	background: #fff;
	color: black;
	width: 100vw;
    min-height: 100vh;
}
.mainWindow {
	display: flex;
	justify-content: center;
}

.container {
	width: 80%;
	justify-content: center;
	h3 {
		margin-top: 100px;
        font-weight: bold;
	}
}
.sortAndProduct {
	margin-top: 60px;
	display: flex;
}

.sortList {
	width: 500px;
	height: 209px;
	border-bottom: 2px solid #9aa7ad;
	display: flex;
	flex-direction: column;
	padding: 30px 0px;
}
.sortButton {
	width: 370px;
	margin-top: 20px;
	button {
		margin: 1em 1em 0em 0em;
		background: transparent;
		border: 2px solid #010c13;
		border-radius: 8px;
		color: black;
		padding: 8px 20px;
		cursor: pointer;
		transition: background 0.3s ease;
		&:hover {
			background: #a9a9a9;
		}
	}
}

.products {
    margin: 0em 0em 10em 3em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(440px, 0fr));
    grid-gap: 20px;
    width: 100%; /* Установите 100% ширины */
  }