.container {
	width: 80%;
	display: flex;
	align-items: center;
}

.header {
	font-family: 'Tactic Sans', sans-serif;
	font-style: normal;

	display: flex;

	justify-content: center;
	color: white;
	height: 100px;
	width: 100%;
	background: rgb(1, 12, 19);

	h3 {

		font-weight: 400;
		font-size: 16px;
		margin-left: 1em;
		letter-spacing: 0.03em;
	}
	.logo {
	}

	.line {
		margin-left: 1em;
	}
}
